* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

body {
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}

/* overlay gelap */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  z-index: -1;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  font-size: 30px;
}

.menu-btn {
  cursor: pointer;
  font-size: 25px;
}

/* POPUP */
.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* CAROUSEL */
.carousel-section {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-wrapper {
  display: flex;
  gap: 20px;
  overflow: hidden;
  width: 80%;
}

/* CARD STYLE (EMAS + FRAME) */
.card {
  min-width: 250px;
  height: 350px;
  background: linear-gradient(145deg, #c9a24b, #f5e6a3);
  border: 5px solid gold;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  color: black;
  transition: transform 0.3s;
}

.card h2 {
  margin-bottom: 10px;
}

.card:hover {
  transform: scale(1.05);
}

/* BUTTON */
#chooseBtn {
  margin-top: 20px;
  padding: 10px 40px;
  background: lightgreen;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.social span {
  font-size: 30px;
  margin: 10px;
}
